@media (max-width: 576px) {
    #quienessomos {
      visibility: hidden;
      height: 0px;
      padding: 0;
      margin: 0;
      
    }
}

.whoare-section {
    justify-content: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px
}

.info-item > div {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}
.info-item > p {
    text-align: justify;
}

.info-item-reverse {
    flex-direction: column-reverse;
}