.navbar {
    background-color: transparent;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 0% 10%;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: transparent; */
    height: 50px;
    align-items: center;
}

.nav-menu > .menu {
    display: flex;
    flex-direction: row;
    /* position: sticky; *sticky;* */
    top: 1px;
}
.nav-menu > .menu > label {
    margin: 0px 20px;
    white-space: nowrap;
    display: block;
    padding: 5px 10px;
}

.nav-menu > .menu > label:hover {
    background-color: black;
    cursor: pointer;
}

.nav-menu > .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-menu > .logo > img {
    width: 20px;
    margin-right: 10px;
}
